.summary-container {

    .summary-number-yellow {
        cursor: pointer;
        text-align: center;
        color: #fff;
        background-color: #ccc;
        width: 50px;
        display: block;
        margin: 0 auto;
        &:hover {
            background-color: #999;
            color: #fff;
        }
    }

    .summary-number-red {
        width: 50px;
        cursor: pointer;
        display: block;
        text-align: center;
        color: #fff;
        background-color: #e53c66;
        margin: 0 auto;
        &:hover {
            color: #fff;
            background-color: #eb144a
        }
    }




    .in-title {
        font-size: 12px;
    }

    .out-title {
        font-size: 12px;
    }
}


.summary-container{
    .ant-table-thead>tr>th {

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7) {
            padding: 6px 6px !important;
            //background: rgba(0, 128, 0, 0.6);
            //color: #fff;
        }

        &:nth-child(8),
        &:nth-child(9),
        &:nth-child(10),
        &:nth-child(11),
        &:nth-child(12),
        &:nth-child(13),
        &:nth-child(14) {
            padding: 6px 6px ;
        }
    }

    .ant-table-tbody>tr>td {
        padding: 6px 6px;


        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8)
        ,&:nth-child(9) // confirm(0) block
        {
            padding: 6px 6px;
            background: rgba(0, 128, 0, 0.03);
            color: #000;
        }

        &:nth-child(10),
        &:nth-child(11),
        &:nth-child(12),
        &:nth-child(13),
        &:nth-child(14),
        &:nth-child(15),
        &:nth-child(16) {
            padding: 6px 6px;
            background: rgba(255, 0, 0, 0.03);
            color: #000;
        }
    }
}

