.empty-content{
  text-align: center;
  .header{
    text-align: left;
    padding-left: 20px;
  }
}

.print-obj{
  overflow: auto;
  padding-top: 10px;
  background: #343434;
  padding-bottom: 20px;

  .key{
    width: 90px;
    display: inline-block;
    vertical-align: top;
    color: white;
  }
  .value{
    width: 168px;
    display: inline-block;
    vertical-align: top;
    color: #e1e199;
  }
  .item{
    border-bottom: 1px solid #999;
    padding-left: 6px;
    &:last-child{
      border-bottom: none;
    }
  }
}

