
.page-header{
  padding: 0;
  padding-left: 28px;
  color: white;
  .text{
    color: #fff;
    float: right;
    font-size: 16px;
  }
  .left{
    float: left;
  }
  .right{
    float: right;
  }
}

.page-content{
  margin: 10px 16px 0;
  overflow: inherit;
  min-height: 600px;
  padding-bottom: 0px;
}

.page-footer{
  text-align: center;
  width: 100vw;
  z-index: -1;
  margin-top: 20px;
}
