
.page-header{
  padding: 0;
  padding-left: 28px;
  color: white;
  .text{
    color: #fff;
    float: right;
    font-size: 16px;
  }
  .left{
    float: left;
  }
  .right{
    float: right;
  }
}

.page-content{
  margin: 10px 16px 0;
  overflow: inherit;
  padding-bottom: 70px;
  z-index: 1;
  min-height: 600px;
}

@media screen and (max-height: 500px){
  .page-footer{
    display: none;
  }
  .page-content{
    padding-bottom: 10px;
  }
}

.page-footer{
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  left: 80px;
}
