.trade-logs-container {
  min-width: 740px;
  overflow: hidden;

  .ant-collapse > .ant-collapse-item > .ant-collapse-header{
    padding: 2px 4px;
  }

  .status-error{
    color: red;
    font-size: 16px;
  }
  .status-warn{
    color: orange;
    font-size: 16px;
  }
  .status-info{
    font-size: 16px;
  }

  .empty{
    text-align: center;
    .header{
      text-align: left;
      padding-left: 20px;
    }
  }



  .time-number{
    background: #aba08d;
    padding: 3px;
    margin-left: 4px;
    color: #fff;
    border-radius: 3px;
    height: 18px;
    line-height: 12px;
    display: inline-block;
    vertical-align: middle;
  }

  .header-error{
    //background: #ad5151;
    //color: white;
  }

  .header-warn, .header-warning{
    //background: #72893b;
    //color: white;
  }

  .header {
    text-align: left;
    display: flex;
    min-width: 840px;
    overflow: hidden;
    position: relative;
    //padding-left: 8px;
    border-radius: 3px;

    .level-top{
      position: absolute;
      right: 0;
      top: 0;
      background: #b47d00;
      opacity: 0.6;
      color: white;
      padding: 0 2px;
      border-radius: 3px;
    }

    .header-item:nth-child(1) {
      flex: 0.4;
      text-align: left;
      margin-top: 2px;
    }

    .header-item:nth-child(2) {
      flex: 1;
    }

    .header-item:nth-child(3) {
      flex: 2.5;
    }

    .header-item:nth-child(4) {
      flex: 1.3;
    }



    label {
      line-height: 28px;
      display: inline-block;
      text-align: left;
      word-break: break-all !important;
    }

    label:nth-child(1) {
      font-weight: 600;
      font-size: 13px;
      text-align: left;

      &::after {
        content: ' :';
      }
    }

    label:nth-child(2) {
      font-size: 13px;
      padding-left: 6px;
      text-align: left;

    }
  }

  .log-warp {
    box-shadow: 2px 2px 3px 3px #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-left: 12px;
    background-color: rgba(220, 220, 220, 0.5);
    text-align: left;
    .line{

    }
    .item {
      text-align: left;
      display: inline-block;
      margin-right: 30px;
      vertical-align: top;

      label {
        line-height: 28px;
        display: inline-block;
        text-align: left;
        word-break: break-all;
      }

      label:nth-child(1) {
        font-weight: 600;
        font-size: 13px;
        text-align: left;

        &::after {
          content: ' :';
        }
      }

      label:nth-child(2) {
        font-size: 13px;
        padding-left: 12px;
        text-align: left;
        max-width: 600px;
        vertical-align: top;
        min-width: 80px;
      }
    }
  }

  .page-wrap{
    float: right;
    height: 25px;
    margin: 3px;

    .type-all {
      display: inline-block;
      vertical-align: top;
      font-size: 14px;
      margin-right: 14px;
      cursor: pointer;
      background: gray;
      color: white;
      padding: 1px 6px;
      border-radius: 4px;
      opacity: 0.9;
      &:hover{
        opacity: 1;
        box-shadow: 1px 1px 1px 1px #aaa;
      }
    }
    .type-error {
      display: inline-block;
      vertical-align: top;
      font-size: 14px;
      margin-right: 14px;
      margin-top: 2px;
      cursor: pointer;
      background: #b55353;
      color: white;
      padding: 1px 6px;
      border-radius: 4px;
      opacity: 0.9;
      &:hover{
        opacity: 1;
        box-shadow: 1px 1px 1px  #955353;
      }
    }
    .type-warn {
      display: inline-block;
      vertical-align: top;
      font-size: 14px;
      margin-right: 14px;
      margin-top: 2px;
      cursor: pointer;
      background: #b47d00;
      color: white;
      padding: 1px 6px;
      border-radius: 4px;
      opacity: 0.9;
      &:hover{
        opacity: 1;
        box-shadow: 1px 1px 1px  #947d00;
      }

    }
    .page{
      display: inline-block;
      vertical-align: top;

      text-align: right;
    }



  }



}

.log-tooltip{
  .item-detail{
    min-height: 360px;
    overflow: auto;
    margin-top: 100px;
  }

}

.print-obj{
  overflow: auto;
  padding-top: 10px;
  background: #343434;
  padding-bottom: 20px;

  .key{
    width: 90px;
    display: inline-block;
    vertical-align: top;
    color: white;
  }
  .value{
    width: 168px;
    display: inline-block;
    vertical-align: top;
    color: #e1e199;
  }
  .item{
    border-bottom: 1px solid #999;
    padding-left: 6px;
    &:last-child{
      border-bottom: none;
    }
  }
}

.errors-summary-modal{
  .ant-carousel{
    background: #302c2c;
  }

  .ant-carousel .slick-dots-bottom{
    bottom: -6px;
  }
  .ant-carousel .slick-dots li.slick-active{
    width: 14px !important;
    background: red;
    button{
      background: #b47d00 !important;
    }
  }

  .slick-dots-bottom{

    li{

      height: 10px;
      background: black;
      border-radius: 3px;
      margin-left: 6px;
      margin-right: 6px;
      width: 14px;

      button{
        height: 10px;
        width: 14px;
        border-radius: 3px;
      }
    }
  }
}
