

.summary-number-yellow{
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #f7792a;
    &:hover{
        background-color: #ec6008;
    }
}
.summary-number-red{
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #e53c66;
    &:hover{
        background-color: #eb144a
    }
}