.disk-container .header-wrap {
  padding: 10px 20px;
}
.disk-container .title {
  font-size: 20px;
  text-align: center;
  background-color: #fff;
  font-weight: 600;
}
.disk-container .header {
  padding: 20px;
  background-color: aliceblue;
}
.disk-container .reloadIcon {
  font-size: 16px;
}
