
.todolist-container{
  max-height: 400px;
  overflow: auto;
  .item{
    position: relative;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 5px;
    &:last-child{
      border-bottom: none;
    }

    .close{
      position: absolute;
      top: 0px;
      right: 0px;
      font-size: 22px;
      color: #955353;
    }
  }

  .left{
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    padding: 6px;
    width: 150px;
  }
  .title{
    font-size: 12px;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
    .value{
      font-weight: 500;
      margin-left: 8px;
    }
  }
  .content{
    font-size: 12px;
    margin-top: 2px;
    .value{
      font-weight: 400;
      display: block;
      border: 1px solid #ccc;
      padding: 1px 4px;
      width: 150px;
      word-break: break-all;
    }
  }

  .preview{
    vertical-align: top;
    display: inline-block;
    width: 320px;
    margin-right: 24px;

    img{
      width: 100%;
    }
  }
}
