.uncertained-container{
    .ant-table-thead > tr > th{
        &:nth-child(5):before{
            background: none !important;
        }
    }

    .loading-status{
        background: rgba(0,0,0,0.1);
        color: gray;
        margin-right: 10px;
        padding: 4px;
        border-radius: 4px;
        user-select: none;
        .type{
            margin-right: 4px;
            font-size: 14px;
            &:after{
                content: ":";
            }
        }
        .msg{
            color: gray;
        }
    }
    .success-status{
        background: rgba(0,255,0,0.1);
        margin-right: 14px;
        padding: 4px;
        border-radius: 4px;
        cursor: pointer;
        user-select: none;
        .type{
            margin-right: 4px;
            font-size: 14px;
            &:after{
                content: ":";
            }
        }
        .msg{
            color: gray;
        }
    }
    .error-status{
        color: gray;
        margin-right: 10px;
        padding: 4px;
        border-radius: 4px;
        background: rgba(255,0, 0, 0.2);
        user-select: none;
        .type{
            margin-right: 4px;
            font-size: 14px;
            &:after{
                content: ":";
            }
        }
        .msg{
            color: gray;
        }
    }
}
.ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 200px;
}
